@use "@style" as *;

//noinspection SassScssResolvedByNameOnly
.container {
  width: 100%;

  @include margin(top, 15rem);
  @include padding(1rem);

  //border: 1px solid red;


  & :local {

    .headerText {

      & > :last-child {
        max-width: 77ch;
      }
    }

    .swiperContainer {
      position: relative;
      width: 25%;
      //max-width: 500px;
      overflow: visible;
      display: grid;
      place-items: center;

      @include margin(top, 5rem);

      //border: 1px solid red;

      .mobile {

      }


      & :global {
        .swiper-pagination.swiper-pagination-progressbar {
          position: absolute;
          display: block;
          bottom: -15%;
          top: initial;
          left: initial;
          width: 30%;
          max-width: 300px;
          border-radius: 500px;
          overflow: hidden;

          span {
            display: inline-block;
            background-color: var(--dark-gray);
            border-radius: 50%;
          }

        }
      }

      //border: thin solid rgba(0, 0, 0, 0.11);
    }


    .swiperItem {

      & > :first-child {
        margin: 0 4.6rem; //creat the spacing b/n items, (width80% does not mess things up)
      }
    }

    .navController {
      position: absolute;
      align-self: initial;
      justify-self: start;
      top: 50%;
      z-index: 11;
      width: 105%;
      pointer-events: none;
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%) translateX(-2.5%);

      //border: 1px solid #000;


      p {
        display: grid;
        place-items: center;
        pointer-events: auto;
        font-family: 'shapes', serif;
        font-size: 3.2rem;
        line-height: 0;
        cursor: pointer;
        user-select: none;

        span {
          pointer-events: none;
          display: block;
          font-family: 'shapes', serif;
          font-size: .8rem;
          color: white;
        }
      }
    }

  }
}

.imageView {
  box-sizing: content-box;

  display: grid;
  place-items: center;
  border: .9rem solid var(--dark);
  border-radius: 1.2rem;
}
