@use "@style" as *;

//noinspection SassScssResolvedByNameOnly
.container {
  width: 100%;

  @include padding(1rem);

  margin-top: 15rem;

  @include media-breakpoint-up(sm) {
    @include margin(top, 25rem);

  }

  //border: 1px solid red;


  & :local {

    .headerText {

      & > :last-child {
        max-width: 77ch;
      }
    }

    .swiperContainer {
      position: relative;
      width: 52%;
      //max-width: 500px;
      overflow: visible;
      display: grid;
      place-items: center;

      @include margin(top, 5rem);
      //@include margin(bottom, 5rem);
      margin-bottom: 5rem;

      //border: 1px solid red;


      @include media-breakpoint-up(sm) {
        width: 25%;
      }


      & :global {
        .swiper-pagination.swiper-pagination-progressbar {
          position: absolute;
          display: block;
          bottom: -15%;
          top: initial;
          left: initial;
          width: 100%;
          max-width: 300px;
          border-radius: 1rem;
          overflow: hidden;

          @include media-breakpoint-up(md) {
            width: 60%;
          }


          span {
            display: inline-block;
            background-color: var(--dark-gray);
            border-radius: 50%;
          }

        }
      }

      //border: thin solid rgba(0, 0, 0, 0.11);
    }


    .swiperItem {

      & > :first-child {
        margin: 0 1.5rem; //creat the spacing b/n items, (width80% does not mess things up)

        @include media-breakpoint-up(600px) {
          margin: 0 3.6rem
        }


      }
    }

    .navController {
      position: absolute;
      align-self: initial;
      justify-self: start;
      top: 50%;
      z-index: 11;
      width: 120%;
      pointer-events: none;
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%) translateX(-8%);
      //border: 1px solid red;

      @include media-breakpoint-up(sm) {
        width: 105%;
        transform: translateY(-50%) translateX(-2.5%);

      }

      //border: 1px solid #000;


      p {
        display: grid;
        place-items: center;
        pointer-events: auto;
        font-family: 'shapes', serif;
        font-size: 3.2rem;
        line-height: 0;
        cursor: pointer;
        user-select: none;

        span {
          pointer-events: none;
          display: block;
          font-family: 'shapes', serif;
          font-size: .8rem;
          color: white;
        }
      }
    }

  }
}

.imageView {
  box-sizing: content-box;

  display: grid;
  place-items: center;
  border: .9rem solid var(--dark);
  border-radius: 1.2rem;
}
