@use "@style" as *;


//noinspection SassScssResolvedByNameOnly
.container {

  //@include margin(top, 10);

  max-width: calc(1030px + 10vw);
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;

  //border: 1px solid #000;


  & > div {
    //border: 1px solid red;
    max-width: 33%;
  }

  & > :last-child {
    transform: scale(1.09);
    margin-top: 1.3rem;
  }

  img {
    max-width: 100%;
    height: 100%;
    object-fit: fill;
  }

  @include margin(top, 6rem);


}
