@use "@style" as *;

//noinspection SassScssResolvedByNameOnly
.container {

  position: absolute;
  inset: 0;
  //border: thick solid teal;
  display: flex;
  flex-flow: column;
  z-index: 11;
  pointer-events: auto;


  & :local {

    .wrapper {

      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      list-style-type: none;
      padding: 0;
      margin: auto;
      width: 70%;
      height: 55%;
      z-index: 11;
      //margin-top: 4rem;

      @include media-breakpoint-up(sm) {
        width: 50%;
      }

      @include media-breakpoint-up(md) {
        width: 35%;
      }


      @include media-breakpoint-up(lg) {
        width: 45%;
        height: 80%;
      }

      a {
        position: relative;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
      }
    }

    .nav_detail {
      display: none;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      height: max-content;
      overflow: hidden;
      width: 100%;
      color: #02021e;
      margin: 2rem 0;
      padding: .3rem 5rem;


      @include media-breakpoint-up(lg) {
        display: flex;
        position: absolute;
        bottom: 0;
        justify-content: flex-start;

        &:last-child {
          justify-content: flex-end;
        }
      }

      .detail_item {
        //text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: lighter;
        opacity: 1;
        text-shadow: 0 3px 3px rgba(0, 0, 0, 0.51);
        color: #02021e;


        //border: thin solid red;

        //font-size: 1rem;
      }

    }


  }


}
