@font-face {
  font-family: 'Elianto-Regular';
  src: url('Elianto-Regular.woff') format('woff'),
       url('Elianto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
    font-display: swap;
}

