@use "@style" as *;

//noinspection SassScssResolvedByNameOnly
.container {
  width: 100%;

  @include margin(top, 15rem);
  @include padding(1rem);

  //border: 1px solid red;


  & :local {

    .headerText {

      @include margin(bottom, 7rem);

      @include media-breakpoint-down(xl) {
        //border: 1px solid yellow;
        @include margin(bottom, 10rem);

      }

      & > :last-child {
        max-width: 77ch;
      }
    }

    .swiperContainer {
      position: relative;
      width: 90%;
      //max-width: 500px;
      overflow: visible;
      display: grid;
      place-items: center;
      //cursor: none;

      //border: 1px solid red;


      @include margin(top, 4.5rem);

      @include media-breakpoint-up(md) {
        width: 70%;
      }


      & :global {
        .swiper-pagination.swiper-pagination-progressbar {
          position: absolute;
          display: block;
          bottom: -25%;
          top: initial;
          left: initial;
          width: 100%;
          max-width: 18rem;
          border-radius: 1rem;
          overflow: hidden;

          @include media-breakpoint-up(md) {
            width: 60%;
          }


          span {
            display: inline-block;
            background-color: var(--dark-gray);
            border-radius: 50%;
          }

        }
      }

      //border: thin solid rgba(0, 0, 0, 0.11);
    }


    .swiperItem {


      & > :first-child {
        margin: 0 1rem; //creat the spacing b/n items, (width80% does not mess things up)
        //cursor: none;

        @include media-breakpoint-up(md) {
          margin: 0 4.6rem;
        }

        //border: 1px solid blue;

      }
    }

    .navController {
      position: absolute;

      align-self: initial;
      justify-self: start;
      top: 50%;
      z-index: 11;
      width: 105%;
      //pointer-events: none;
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%) translateX(-2.5%);
      pointer-events: none;

      //border: 1px solid #000;

      button {
        background: transparent;
        border: none;
      }

      p {
        display: grid;
        place-items: center;
        pointer-events: auto;
        font-family: 'shapes', serif;
        font-size: 3.2rem;
        line-height: 0;
        cursor: pointer;
        user-select: none;

        span {
          pointer-events: none;
          display: block;
          font-family: 'shapes', serif;
          font-size: .8rem;
          color: white;
        }
      }
    }

  }
}

.vidView {
  box-sizing: content-box;
  display: grid;
  place-items: center;

  //height: 400px;

  //border: 1px solid red;
}
