@use "@style" as *;

//noinspection SassScssResolvedByNameOnly
.container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  //width: 85%;
  padding: 0 8%;

  //border: thin solid red;

  gap: 1rem;

  @include media-breakpoint-up(md) {
    padding: 0 0 0 10%;
  }

  & :local {


    .hello {
      font-family: var(--eli);
      font-weight: normal;
      color: white;
      margin-bottom: 0;

      filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.69));

      @include media-breakpoint-down(sm) {
        font-size: 6rem;
      }

      @include media-breakpoint-up(xl) {
        font-size: calc(9rem + 2vmax);
      }

    }

    .goal {
      @include media-breakpoint-up(md) {
        //font-weight: bold;
        letter-spacing: 0.1vmax;
        margin-left: 4rem;
        font-size: 1.3rem;
      }

      @include media-breakpoint-up(xl) {
        letter-spacing: initial;
        word-spacing: -1px;
        font-size: 2.5rem;
      }

    }


    .goal_desc {
      max-width: 32ch;
      color: #7b8a9b;
      display: block;

      //font-size:1 rem;
      margin-top: 2rem;


      @include media-breakpoint-up(md) {
        margin-left: 5rem;
        max-width: 50ch;
        font-size: 1.1rem;
        font-weight: 300;

      }


    }
  }

}
