@use "@style" as *;
//noinspection SassScssResolvedByNameOnly

.container {

  position: fixed;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  z-index: 9;


  display: flex;
  align-items: center;
  justify-content: center;
  //pointer-events: none;
  pointer-events: auto;


  &.isOpen {

  }


}
