@use "@style" as *;

//noinspection SassScssResolvedByNameOnly
.container{
  width: 100%;
  //display: flex;
  //background-color: var(--headlineBg);



   @include padding(top, 10rem);
  // @include padding(bottom, 8rem);

  & :local{

    .wrapper{
      display: flex;

      border: 1px solid #000;
    }

    .elementImg{
      width: 100%;
      margin: 0 auto;
      //box-shadow: 6px 7px 25px 15px rgba(0, 0, 0, 0.08);

      margin-top: 5rem;

      //box-shadow: ;
    }

    .text{
      //@include margin(bottom, 3rem);

      h3{
        font-weight: bolder;
      }
    }

  }
}
