@use "@style" as *;


//noinspection SassScssResolvedByNameOnly
.container {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  //background-color: #fbfefc;

  //border: 1px solid red;


  //@include margin(top, 10);
  //transform: translateY(5px);

  & :local{

    .wrapper{


      @include padding(ver, 7rem);
    }

    .text{
      //border: 1px solid red;
      @include padding(5rem);

    }
  }

}
