@use "@style" as *;


//noinspection SassScssResolvedByNameOnly
.container {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  background-color: #fbfefc;


  //@include margin(top, 10);
  //transform: translateY(5px);

  & :local{

    .wrapper{
      @include padding(ver, 13rem);
    }

    .text{


    }
  }

}
