@use "normalize";
@use "../variables/fonts" as *;
@use "../variables/colors" as *;
@use "../variables/breakpoints" as *;
@use "../mixins/font" as *;
@use "../mixins/breakpoints" as br;
@use "textfield-reset" as input-reset;


:root {
  --indent: 1; // for margin and padding
  --title: 1; // for title font-size
  --text: 1; // for regular text which size less than 20px font-size
  --size: 1; // for element width, height
  --column-width: 100vw / 64; // column width

  @include colors;

  @media screen and (min-width: 1600px) {
    --indent: 1.25;
    --title: 1.25;
    --text: 1.25;
    --size: 1.25;
  }

  @media screen and (max-width: 1024px) {
    --title: 0.9;
    --text: 0.9;
  }

  @media screen and (max-width: $md) {
    --indent: 0.7;
    --title: 0.8;
    --size: 0.8;
  }
  @media screen and (max-width: $sm) {
    --indent: 0.5;
    --title: 0.6;
    --size: 0.7;
  }


}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

* {
  outline: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 18px;

  @include fluid-type(1920px, 5120px, 18px, 20px);

  @media screen and (max-width: 1920px) {
    font-size: 16px;
  }
  @media screen and (max-width: 1400px) {
    font-size: 14px;
  }
  @media screen and (max-width: 1200px) {
    font-size: 12px;
  }
}

body {
  //overflow-x: hidden;
  position: relative;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  color: var($light_gray);

  @include br.media-breakpoint-up(md) {
    &.no-cursor {
      & * {
        //cursor: none;
      }
    }
  }

  &.menu_open {
    --theme: rgba(2, 11, 22, 1);
    height: 100vh;
    overflow: hidden;
  }

  &.darkish{
    --stroke-top: #f9d6ac;
    --stroke-bottom: #02021e;
    --head-opacity: 1;

    --theme: rgba(2, 11, 22, 1);
    --bottom-gradient: linear-gradient(to top,
            #fbfefc 0%,
            rgba(243, 243, 243, 0) 94%);

    /*--bottom-gradient: linear-gradient(to bottom,
            rgba(7, 33, 66, 0),
            rgba(6, 28, 55, 0),
            rgba(7, 24, 43, 0),
            rgba(6, 18, 32, 0),
            rgba(6, 18, 32, 0),
            rgba(6, 18, 32, 0),
            rgba(2, 11, 22, 1));*/


  }
}


* {
  scrollbar-width: thin;
  scrollbar-color: #3719ca #1e213d;
}

*::-webkit-scrollbar {
  width: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  //cursor: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

// project specific imports
@include input-reset.text-field-autocomplete-reset;
