@use "@style" as *;
//noinspection SassScssResolvedByNameOnly

.container {

  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;

  &:not(.no-hover):hover {
    .wrapper {
      color: white;

      @include media-breakpoint-up(sm) {
        transform: translateX(15px);
      }

      &::before {
        width: calc(100% + .8rem);
        border-radius: 30px;
        transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1),
        transform 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0.05s;
        box-shadow: 0 0 0.5rem var(--medium-blue-color);
        //transform: scale(1.25);
      }


    }
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    //cursor: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
  }

  & :local {

    .wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      //cursor: pointer;
      width: fit-content;
      letter-spacing: 2px;
      font-weight: 300;
      transition: all 0.3s;
      padding: 0.7rem;
      z-index: 2;
      pointer-events: auto;

      margin: 1rem 1.9rem 1rem 1rem;

      &::before {
        content: "";
        left: -.6rem;
        z-index: -1;
        position: absolute;
        display: block;
        background: var(--medium-blue-color);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        transition: all 0.3s ease;
      }

    }


    .btn-txt {
      margin: 0;
      padding: 0;
      user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;

      letter-spacing: .1vmax;
      text-shadow: 0.1em 0.1em 0.3em #000;

      //line-height: 0;
    }


  }

}
