@use "@style" as *;


//noinspection SassScssResolvedByNameOnly
.container {
  position: relative;
  //height: 50vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;

  @include padding(top, 13rem);

  & :local {

    .aim-wrapper {
      //border: thin solid red;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-flow: wrap;

      @include margin(top, 8rem);

      @include media-breakpoint-up(xl) {
        max-width: 1500px;
      }

    }

    .effect {
      z-index: -1;
      position: absolute;
      opacity: .3;
      top: -40%;
      right: -20%;
      left: 20%;
      display: grid;
      place-items: center;

      img {
        max-width: 100%;
      }

      @include media-breakpoint-up(md) {
        position: static;
        opacity: .8;

        img {
          max-width: 25vmax;
        }
      }

    }

    .text {
      //width: 40%;
      display: grid;
      place-items: center;
      padding: 0 3vmax;

      //border: thin solid red;

      .aim-txt-wrapper {
        display: grid;
        gap: f-unit(1.3rem);

        .aim-text {
          font-weight: lighter;
          letter-spacing: .05vmax;
          max-width: 40ch;
          color: var(--light_gray);

        }
      }
    }
  }

}
