@use "@style" as *;

//noinspection SassScssResolvedByNameOnly
.container {
  padding: 0;
  margin: 0;
  //border: thin solid red;

  @include padding(2rem);


  & :local {

    .titleTxt {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-box-decoration-break: clone;

      background-image: var(--gray_gradient);
      line-height: 180%;
      font-weight: bold;

      span {
        display: inline-block;
      }
    }

    .tags {
      display: flex;
      align-items: center;
      //flex-flow: column;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 0;

      gap: 1rem;

      p {
        font-weight: lighter;
        opacity: 0.6;

        //@include font-size-text(.6rem);
        font-size: .6rem;
      }
    }

    .text {
      //font-weight: lighter;
      text-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.44);
      color: #ebf5ff;
      max-width: 45ch;


      @include media-breakpoint-up(sm) {
        @include font-size-text(1.5rem);
        max-width: 50ch;

      }

      @include media-breakpoint-up(xl) {
        //@include font-size-text(1.2rem);
        font-size: 1.2rem;

        max-width: 40ch;

      }

      //@include font-size-text(.9rem);
      //font-size: 1rem;
    }
  }


}
