@use "@style" as *;


//noinspection SassScssResolvedByNameOnly
.container {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;


  @include margin(top, 7rem);
  @include margin(bottom, 7rem);


  & :local {

    .titleContainer {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      @include margin(bottom, 7rem);


      & > :last-child {
        align-self: flex-end;
        margin-top: f-unit(1rem);
        margin-right: f-unit(2rem);

        //@include margin(top, 1rem);
        //@include margin(right, 2rem);

      }
    }

    .device {
      max-width: 80%;
      margin: 0 auto;
      display: flex;
      flex-flow: column;
      box-shadow: 4px 4px 70px 7px rgba(0, 0, 0, 0.16);
      border-radius: f-unit-light(1rem);
      overflow: hidden;

      header {
        display: flex;
        gap: .5rem;
        padding: 1rem 1.5rem;
        background-color: var(--dark-gray);
        backdrop-filter: blur(10px);

        span {
          display: block;
          width: 1rem;
          height: 1rem;
          background-color: var(--dark);
          border-radius: 50%;
        }
      }

      .imgWrapper {

        img {
          display: block;
        }
      }
    }


  }

}
