$sofia-soft: 'Sofia Pro Soft', sans-serif;
$sofia-pro: 'Sofia Pro', sans-serif;
$gramatika: 'Gramatika', sans-serif;
$abyss: 'abyssopelagic', sans-serif;
$poppins: 'Poppins Black', sans-serif;
$eli: 'Elianto-Regular', sans-serif;

