@use "@style" as *;

//noinspection SassScssResolvedByNameOnly
.container {


  @include margin(bottom, 12rem);

  //border: 1px solid red;
  margin: 0 auto;

  max-width: 70rem;
  padding: 2rem;

  @include media-breakpoint-down(xl) {
    max-width: 63rem;
  }


  @include media-breakpoint-up(md) {
    @include margin(top, 16rem);
    padding: 0;
  }

  & :local {

    ul.wrapper {
      max-width: 100%;
      display: flex;
      flex-flow: wrap;
      align-items: flex-start;
      justify-content: space-between;
      list-style-type: none;
      padding: 0;
      color: #02021e;
      gap: 1rem;


      .seeLive {
        text-decoration: underline;
      }


      li {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
        flex-basis: calc(50% - 1.2rem);


        //border: 1px solid #000;

        @include margin(top, 3rem);

      }

      @include media-breakpoint-up(md) {
        max-width: 80%;
        justify-content: flex-start;
        gap: 0;
        margin-top: 2rem;

        li {
          flex-basis: 47%;
        }
      }
    }

    .desc {
      @include margin(top, 1rem);

      @include media-breakpoint-up(md) {
        max-width: 65ch;
      }
    }

    .key {
      font-weight: 600;
      letter-spacing: 4px;
      text-transform: uppercase;
    }

    .value {
      letter-spacing: 0;
      font-weight: 100;
      color: var(--dark-gray);
      hyphens: auto;
    }
  }
}
