@use "@style" as *;


//noinspection SassScssResolvedByNameOnly
.container {
  width: 100%;
  @include margin(top, 15rem);


  & :local {

    .wrapper {

      margin: 0 auto;
      max-width: 1000px;


      @include media-breakpoint-up(xxl) {
        //border: 1px solid yellow;
        max-width: 1300px;
      }
    }

    .textWrapper {
      @include padding(hor, 4rem);
      @include margin(bottom, 6rem);
      //border: 1px solid red;

      .text {
        max-width: 77ch;
        font-weight: 300;
        line-height: 160%;
        letter-spacing: 0.5px;
        margin-top: 2rem;
      }
    }


    .vidWrapper {
      display: grid;
      place-items: center;

      @include media-breakpoint-down(sm) {
        padding: 0 1rem;
      }

      .vidDesc {
        width: 100%;

        @include padding(hor, 3rem);
        @include padding(top, 3rem);

        h4 {
          font-weight: bolder;
        }

        .text {
          max-width: initial;
        }

      }


    }
  }

}
